/* Variables for color pallete
---------------------------*/
:root   {
    --primary_color: #FFFFFF;
    --primary_variant_color: #FFFFFF;
    --secondary_color: #FFFFFF;
    --secondary_variant_color: #FFFFFF;

    --black: #000000;
    --white: #FFFFFF;
}

@font-face  {
    font-family: "comfortaa";
    src: url(../fonts/Comfortaa-Regular.woff2) format('woff2'),
        url(../fonts/Comfortaa-Regular.woff) format('woff'),
        url(../fonts/Comfortaa-Regular.ttf) format('truetype');
}

body {
    /* Font Details */
    font-family: "comfortaa", sans-serif;
    font-size: 100%;
    line-height: 1.5;
    color: var(--white);

    width: 100%;
    height: auto;
    background-color: black;
    margin: 0em;
    overflow-x: hidden;
}

header h1 {
    font-size: 4em;
    text-align: center;

    user-select: none;
}

.image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none;
}

.flex-holder {
    display: flex;
    gap: 5%;
    justify-content: space-evenly;
}

.image-track .image {
    width: 25vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}

.image-track .image:hover {
    cursor: pointer;
}

.image-info {
    /* default display is block */
    display: none;
    width: 56vmin;
}

#socials {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    text-align: center;
}

#socials img {
    width: 100%;
    height: auto;
}

#socials img:hover {
    opacity: 50%;
}