/* CSS for programming page */

:root   {
    --primary_color: #a077cf;
    --primary_color_var: #594175;
    --secondary_color: #7dd875;
    --secondary_color_var: #53914d;
    --third_color: #d87575;
    --third_color_var: #b33e3e;

    --black: #000000;
    --white: #FFFFFF;

}

@font-face  {
    font-family: "comfortaa";
    src: url(../fonts/Comfortaa-Regular.woff2) format('woff2'),
        url(../fonts/Comfortaa-Regular.woff) format('woff'),
        url(../fonts/Comfortaa-Regular.ttf) format('truetype');
}

body {
    /* Font Details */
    font-family: "comfortaa", sans-serif;
    font-size: 100%;
    line-height: 1.5;
    color: var(--black);
    background: var(--white);

    min-width: 100%;
    min-height: 100%;

    margin:0;
}

header {
    text-align: center;
}

main {
    /* text-align: center; */

    display: flex;
    justify-content: center;
}

h1 {

}
h2 {
    margin: 0;
}
h3 {
    margin: 0;
}

/* Card holding information */
.card {
    width: 80%;
    height: 80%;
    padding: 1vmin;

    cursor: pointer;

    background: var(--primary_color);
}
.title {
    display: flex;
    flex-direction: column;
    /* gap: 5vmin; */

    text-align: center;
    font-size: 2vmin;
}
/* .title-left {
    justify-content: center;
    flex-direction: row;
}
.title-right {
    justify-content: right;
    flex-direction: row-reverse;
} */

.lang-tool {
    display: flex;
    justify-content: space-between;
    /* gap: 5vmin; */

    background-color: var(--third_color);
    padding: 1vmin;
}
.languages {

}
.tools {
    text-align: right;
}

.summary-img {
    display: flex;
    justify-content: space-between;
    gap: 5vmin;

    background-color: var(--secondary_color);
    padding: 1vmin;
}
.sum-left {
    flex-direction: row;
}
.sum-right {
    flex-direction: row-reverse;
}