/* CSS for programming page */

:root   {
    --primary_color: #a077cf;
    --primary_color_var: #f1c98b;
    --secondary_color: #7dd875;
    --secondary_color_var: #53914d;
    --third_color: #272727;
    --third_color_var: #b33e3e;

    --black: #000000;
    --white: #FFFFFF;

}

@font-face  {
    font-family: "lato";
    src: url(../fonts/Lato-Regular.woff2) format('woff2'),
        url(../fonts/Lato-Regular.woff) format('woff'),
        url(../fonts/Lato-Regular.ttf) format('truetype');
}

body {
    /* Font Details */
    font-family: "lato", sans-serif;
    font-size: 100%;
    line-height: 1.5;
    color: var(--black);
    background: var(--white);

    min-width: 100%;
    min-height: 100%;

    margin:0;
}

header {
    text-align: center;
}

main {
    /* text-align: center; */

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1vmin;
}

h1 {
    font-family: monospace;
    font-size: 5em;

    margin: 0;
}
h2 {
    margin: 0;
}
h3 {
    margin: 0;
}

/* Card holding information */
.card {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 

    width: 80%;
    height: 80%;
    padding: 1vmin;

    /* cursor: pointer; */

    background: var(--primary_color);
}
.title {
    font-family:monospace;

    grid-area: 1 / 1 / 2 / 3;

    text-align: left;
    font-size: 2.5em;

    padding-left: 2vmin;

    background-color: var(--primary_color_var);
}

.lang-tool {
    grid-area: 2 / 1 / 3 / 2;

    display: flex;
    flex-direction: column;
    gap: 1vmin;
    justify-content: space-evenly;

    background-color: var(--third_color);
    padding: 1vmin;
}
.lang-tool img {
    max-width: 15%;
    object-fit:contain;
}
.lang-tool h3 {
    color: var(--white);
    text-align: center;
}
.lang-tool h4 {
    color: var(--white);

    margin: auto;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.25em;
}
.lang-tool div {
    display: flex;
    justify-content: left;
    gap: 1em;
}

.summary-img {
    grid-area: 2 / 2 / 3 / 3;

    display: flex;
    justify-content: space-between;
    /* gap: 5vmin; */
    flex-direction: row;
    align-items: center;

    background-color: var(--secondary_color);
    padding: 1vmin;
}
.description {
    max-width: 75%;
}
.image {
    display: flex;
    justify-self: center;
}
.summary-img h2 {
    font-size: 1.5em;
}
.summary-img p {
    font-size: 1.10em;
}
.summary-img img {
    width: 65%;

    margin: auto;
}
.summary-img img:hover {
    opacity: 50%;
}