/* Switch UI for the game Projects */

/* Global */
:root   {
    --primary_color: #FFFFFF;
    --primary_variant_color: #FFFFFF;
    --secondary_color: #FFFFFF;
    --secondary_variant_color: #FFFFFF;

    --black: #000000;
    --white: #FFFFFF;
}

@font-face  {
    font-family: "comfortaa";
    src: url(../fonts/Comfortaa-Regular.woff2) format('woff2'),
        url(../fonts/Comfortaa-Regular.woff) format('woff'),
        url(../fonts/Comfortaa-Regular.ttf) format('truetype');
}

:focus {
    outline: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.v-center {
    align-items: center;
}

body {
    --bg: #666666;
    background: var(--bg);

    /* Font Details */
    font-family: "comfortaa", sans-serif;
    font-size: 100%;
    line-height: 1.5;
    color: var(--black);
}

.wrapper {
    --static: #2D2D2D;
    --solid: rgb(255, 255, 255);
    --shadow: 0 0 5px rgba(0, 0, 0, .05);
    position: relative;
    margin: 0 auto;
    padding: 20px;
    height: 100vh;
    width: 100%;
}

html {
    font-family: 'Oxygen';
    color: var(--static);
    user-select: none;
}

span {
    display: inline-block;
    line-height: 1;
}

a {
    position: relative;
    --focus-light: #3FE9D3;
    --focus-dark: #04B9C3;
}

a:after {
    display: none;
    content: attr(data-name);
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translate(-50%, -42.5px);
    font-size: 26px;
    font-weight: 300;
    white-space: pre;
    color: var(--focus-dark);
}

a:hover:after,
a:focus:after {
    display: inline-block;
}

a:hover,
a:focus {
    animation: focus 1s infinite;
}

@keyframes focus {
    0% {
        box-shadow: var(--shadow), 0 0 0 0.5vmin var(--focus-light);
    }
    50% {
        box-shadow: var(--shadow), 0 0 0 0.5vmin var(--focus-dark);
    }
    100% {
        box-shadow: var(--shadow), 0 0 0 0.5vmin var(--focus-light);
    }
}

/* Header */
header {
    margin-bottom: auto;
    padding: 0 25px;
    font-size: 28px;
    font-weight: 600;
}

header > * {
    margin: 0 10px;
}

header > *:first-child,
.games .item:first-child {
    margin-left: 0;
}

header > *:last-child,
.games .item:last-child {
    margin-right: 5em;
}

a.profile {
    --d: 60px;
    display: inline-flex;
    justify-content: center;

    width: var(--d);
    height: var(--d);
    border: 3px solid var(--solid);
    background: var(--bg);
    box-shadow: var(--shadow);
    border-radius: 100%;
}

a.profile:after {
    font-size: .75em;
}

.battery span i {
    font-style: initial;
    font-size: .6em;
}


/*=========== main =============*/

main {
    position: relative;
    margin: 0 -1em;
}

.games {
    position: relative;
    margin-bottom: 4em;
    padding: 10px 95px;
    overflow-x: scroll;
    white-space: nowrap;
}

.games::-webkit-scrollbar {
    height: 0px;
}

.games a.item:after {
    font-size: .75em;
}

.games .item {
    display: inline-block;
    margin: 0 7px;
    --d: 255px;
    height: var(--d);
    width: var(--d);
    flex-shrink: 0;
    background: var(--bg);
    border: 3px solid var(--solid);
    box-shadow: var(--shadow);
    overflow: hidden;
}
.games .item img {
    width: 100%;
}

main nav {
    text-align: center;
    margin-bottom: 50px;
}

main nav a {
    display: inline-flex;
    justify-content: center;
    margin: 0 10px;
    --d: 85px;
    height: var(--d);
    width: var(--d);
    background: var(--solid);
    box-shadow: var(--shadow);
    border-radius: 100%;
}


/*=========== footer =============*/

footer {
    position: relative;
    margin-top: auto;
    padding: 20px 25px 0;
    font-size: 24px;
    border-top: 2px solid var(--static);
}

.mode {
    margin-right: auto;
}

.accept .btn {
    --d: 25px;
    margin-right: 12px;
    display: inline-block;
    width: var(--d);
    height: var(--d);
    background: var(--static);
    border-radius: 100%;
    font-size: .75em;
    text-align: center;
    color: var(--bg);
}