/*** Universal Style ***/

/*
Color Palette
    First Set
        #D1C6AD - Bone
        #BBADA0 - Pale Silver
        #A1869E - Mountbatten Pink
        #797596 - Rhythm
        #0B1D51 - Royal Blue Dark

    Second Set
        #7BE0AD - Medium Aquamarine
        #AEE5D8 - Middle Blue Green
        #E7E5E5 - Platinum
        #E5D0E3 - Languid Lavender
        #E0B0D5 - Pink Lavender

    Third Set
        #D7CDCC - Pale Silver
        #FFFFFF - White
        #59656F - Black Coral
        #9C528B - Razzmic Berry
        #1D1E2C - Raisin Black
    
    Fourth Set
        #020202 - Black
        #0D324D - Prussian Blue
        #7F5A83 - Chinese Violet
        #A188A6 - Glossy Grape
        #9DA2AB - Silver Metallic
*/

/* border box fix */
html    {
    box-sizing: border-box;
}
*, *:before, *:after    {
    box-sizing: inherit;
}

/* Global Styles
---------------------------*/
@font-face  {
    font-family: "lato";
    src: url(//fonts/Lato-Regular.woff2) format('woff2'),
        url(//fonts/Lato-Regular.woff) format('woff'),
        url(//fonts/Lato-Regular.ttf) format('truetype');
}

body   {
    /*Font Details*/
    font-family: "lato", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #1D1E2C;

    /*Removing Space between elements*/
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.content-wrap   {
    max-width: 1000px;
    width: 85%;
    margin: 0 auto;
    padding: 20px 0;
}


/* Header and Nav Bar
---------------------------*/
header  {
    background: #9C528B;
    color: #FFFFFF;
}

/*Marks text location*/
header h1 {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0 0;

    font-size: 250%;
}
header h2    {
    width: 1200px;
    margin: 0 auto;
    padding: 0 0 20px;
}

/*Navigation Bar*/
.nav-bar-block  {
    background-color: #1D1E2C;
    font-size: 150%;
}

.nav-bar    {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

/*Navigation Bar Links*/
.nav-bar li a    {
    color: #9C528B;
    text-decoration: none;
    display: inline-block;
    padding: 0 40px;
}
.nav-bar li a:hover  {
    color: #D7CDCC;
}
.nav-bar li a:active  {
    color: #FFFFFF;
}

/*Portfolio Drop*/
li a, .dropbtn {
    display: inline-block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
}

.dropdown-content a {
    color: #1D1E2C;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover   {
    color: #59656F;
}
.dropdown:hover .dropdown-content   {
    display: block;
}

/* Home Page
---------------------------*/
.about-me   {
    background-color: #D7CDCC;
    margin: 0;
    color: #1D1E2C;
}

section h2 {
    margin: 0;
    padding-top: 20px;
}

dl  {
    margin: 0;
}

dd:last-of-type {
    padding-bottom: 20px;
}

/* Portfolios Page
---------------------------*/


/* Art Projects Page
---------------------------*/


/* Game Projects Page
---------------------------*/


/* Programming Projects Page
---------------------------*/


/* Resume Page
---------------------------*/


/* Relevant Courses Page
---------------------------*/
table   {
    width: 100%;
}
tr  {
    
}
tr:first-child  {
    background-color: #9C528B;
    color: #FFFFFF;
}

tr:nth-child(even){
    background-color: #D7CDCC;
}

th  {
    font-size: 110%;
}

td, th {
    padding: 10px;
}


/* Footer
---------------------------*/
footer   {
    background-color: #59656F;
    color: #D7CDCC;
}
footer p {
    margin: 0 auto;
}
footer li a {
    color: #D7CDCC;
}

footer ul   {
    display: flex;
    justify-content: center;
    list-style: none;
}