/* Color pallets */
/* 

    Set 1
    --primary_color: #c23846;
    --primary_variant_color: #DE639A;
    --secondary_color: #BFB48F;
    --secondary_variant_color: #F2EFE9;
    --overlay_color: rgba(37, 38, 39, 0.99);

    Set 2
    --primary_color: #488286;
    --primary_variant_color: #DE639A;
    --secondary_color: #77878B;
    --secondary_variant_color: #B7D5D4;
    --overlay_color: rgba(37, 38, 39, 0.99);

    --header-row: #b7d5d4;
    --odd-rows: rgba(48, 82, 82, 0.99);
    --even-rows: ;

    Set 3
    --primary_color: #8A95A5;
    --primary_variant_color: #DE639A;
    --secondary_color: #757083;
    --secondary_variant_color: #B9C6AE;
    --overlay_color: rgba(9, 8, 12, 0.99);

    --header-row: #8A95A5;
    --odd-rows: rgba(71, 64, 86, 0.99);
    --even-rows: ;

    Set 4
    --primary_color: #5F5AA2;
    --primary_variant_color: #DE639A;
    --secondary_color: #355691;
    --secondary_variant_color: #FFFFFF;
    --overlay_color: rgba(48, 41, 47, 0.99);

    --header-row: #413F54;
    --odd-rows: rgba(63, 64, 69, 0.5);
    --even-rows: ;
*/

/*** Universal Style ***/

/* border box fix */
html    {
    box-sizing: border-box;
}
*, *:before, *:after    {
    box-sizing: inherit;
}

/* Variables for color pallete
---------------------------*/
:root   {
    --primary_color: #5F5AA2;
    --primary_variant_color: #DE639A;
    --secondary_color: #355691;
    --secondary_variant_color: #FFFFFF;
    --overlay_color: rgba(48, 41, 47, 0.99);

    --header-row: #413F54;
    --odd-rows: rgba(63, 64, 69, 0.5);
    --even-rows: ;

    --black: #000000;
    --white: #FFFFFF;
}

/* Global Styles
---------------------------*/
@font-face  {
    font-family: "lato";
    src: url(../fonts/Lato-Regular.woff2) format('woff2'),
        url(../fonts/Lato-Regular.woff) format('woff'),
        url(../fonts/Lato-Regular.ttf) format('truetype');

    font-family: "comfortaa";
    src: url(../fonts/Comfortaa-Regular.woff2) format('woff2'),
        url(../fonts/Comfortaa-Regular.woff) format('woff'),
        url(../fonts/Comfortaa-Regular.ttf) format('truetype');
}

body 
{
    /* Font Details */
    font-family: "lato", sans-serif;
    font-size: 100%;
    line-height: 1.5;
    color: var(--secondary_variant_color);

    /*Removing Space between elements*/
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    /* Hides scroll bar */
    display:block;
    position: fixed;
    inset: 0;
    /* overflow: hidden; */
}

/* Canvas for THREE JS */
canvas
{
    position: fixed;
    top: 0;
    left: 0;
}

main
{
    position: absolute;
}


/*** Specific Elements ***/
header
{
    color: #000000;
}

/*** Heading Text elements ***/
h2 {
    font-size: 3em;
    text-align: center;
}
h3 {
    font-size: 2em;
    text-align: center;
}

/* Loading Bar */
#progress-bar-container {
    position: fixed;
    left: 0%;
    top: 0%;
    /* transform: translate(-50%, 50%); */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#progress-bar {
    width: 30%;
    margin-top: 0.5%;
    height: 2%;
}
label {
    color: #FFFFFF;
    font-size: 2rem;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--overlay_color); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: default; /*Add a pointer on hover*/

    overflow-y: scroll;
}

/* Resume Overlay */
#resume {
    display: none;
}
.resumeInfo {
    margin: 0;
    font-size: 1.2em;
}

.flex-resume {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}

/* Setting up header and fonts for resume info */
.resumeInfo h2 {
    color: var(--primary_color);

    font-size: 4em;
    margin: 0;
}
.resumeInfo h3 {
    color: var(--primary_color);

    font-size: 2.5em;
    margin: 0;
}
.resumeInfo h4 {
    color: var(--secondary_color);

    font-size: 1.75em;
    margin: 0;
}
.resumeInfo h5 {
    color: var(--secondary_color);

    font-size: 1.25em;
    margin: 0;
}

/* CSS Resume Button */
.resumeButton {
    text-align: center;
}
.resumeButton a img {
    max-width: 5%;
    max-height: 5%;
}
.resumeButton a img:hover {
    cursor: pointer;
    opacity: 50%;
}

/* 4 main resume sections */

.edu-skill {
    display: flex;
    justify-content: center;
}
/* Education */
#edu {
    min-width: 50%;
}
#edu h3 {
    text-align: center;
}
.div-flex {
    display: flex;
    justify-content: space-evenly;
    align-items:baseline;
    gap: 0.5em;
}
.div-flex div {
    width: 100%;
}
#edu .div-flex {
    text-align: center;
}

/* Skills */
#skills {
    text-align: center;
}

.skill-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:baseline;

    width: 100%;
}
#skills .skill-list div {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    justify-content: left;

    /* padding-top: 1em; */

    width: 10%;
}
#skills .skill-list div p {
    margin: 0;
    font-size: 0.95em;
}
#skills img {
    max-width: 35%;
    object-fit: contain;
}

/* Leadership */
#leadership {
    text-align: center;
}
#leadership ul,
#work-exp ul,
#edu ul {
    text-align: left;
}

/* Work Exp */
#work-exp {
    text-align: center;
}

/* Game Dev Club Instagram display */
.club-insta {
    display: flex;
    justify-content: center;
    gap: 2%;
}



/* Courses Overlay */
#course {
    display: none;
}
.coursesInfo {
    font-size: 1.2em;
}

.coursesInfo table {
    border-collapse: collapse;
    color: var(--white);
}
.coursesInfo tr:nth-child(even) {
    background-color: var(--even-rows);
    /* color: var(--black); */
}
.coursesInfo tr:nth-child(odd) {
    background-color: var(--odd-rows);
    /* color: var(--black); */
}
.coursesInfo tr td:last-child {
    font-size: 1em;
}
.coursesInfo tr:first-child {
    background-color: var(--header-row);
    color: var(--white);

    font-size: 1.5em;
}
.coursesInfo tr:hover {
    background-color: var(--secondary_variant_color);
    color: var(--black);
}
.coursesInfo tr>th {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.coursesInfo tr>td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}



/* Socials Overlay */
#socials {
    display: none;
}
/* Initialize Grid */
.socialsLinks {
    text-align: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
/* Setting up Grid */
.socialLinkedInImg { grid-area: 1 / 1 / 2 / 2; }
.socialLinkedInUser { grid-area: 2 / 1 / 3 / 2; }
.socialGithubImg { grid-area: 1 / 2 / 2 / 3; }
.socialGithubUser { grid-area: 2 / 2 / 3 / 3; }
.socialItchImg { grid-area: 1 / 3 / 2 / 4; }
.socialItchUser { grid-area: 2 / 3 / 3 / 4; }
.socialArtImg { grid-area: 3 / 1 / 4 / 2; }
.socialArtUser { grid-area: 4 / 1 / 5 / 2; }
.socialInstaImg { grid-area: 3 / 2 / 4 / 3; }
.socialInstaUser { grid-area: 4 / 2 / 5 / 3; }
.socialEmailImg { grid-area: 3 / 3 / 4 / 4; }
.socialEmailUser { grid-area: 4 / 3 / 5 / 4; }

.socialsLinks img {
    width: 20%;
    height: auto;
}
.socialsLinks a:hover {
    opacity: 50%;
}

/* Exit button */
#exitbutton {
    display: none;
}
.exitImage {
    position: fixed;

    margin-left: 1%;
    margin-top: 1%;
}
.exitImage img {
    color: #FFFFFF;
    cursor: pointer;
    width: 7.5%;
    height: auto;
}
.exitImage img:hover {
    cursor: pointer;
    opacity: 0.5;
}

